#main.movies {

	p.month {
	
		font-family: @bold-font;
		color: red;
		margin-top: 15px;
		margin-bottom: 20px;
		display: block;
	}
	
	ul.movie-overview {
		
		height: auto;
		overflow: visible;
		width: 100%;
		margin: 10px 0px 0px 0px;
		
		li {
		
			margin-right: 7px;		
			span {
				
				width: 130px;
				height: 210px;
				
				.image-wrapper {
				
					width: inherit;
					height: 180px;
				}
				img {
				
					width: inherit;
					height: auto;
				}
				.hover {
				
					width: 100%;
				}
				.showing-date {
				
					position: absolute;
					bottom: 5px;
					width: 112px;
				}
				.hurry {
				
					background-color:red;
					z-index: 1000;
					position: absolute;
					.turn(-40deg);
					left: -27px;
					top: 10px;
					.shadow(0px, 1px, 6px, 1px, #333);
					text-align: center;
					p {
						line-height: 12px;
						font-size: 12px;
						padding: 2px 20px;
					}
				}
							
			}
		
		}	
	}
	.movie-overview-thumb {
	
		display: block;
		//display: none;
	}
	.movie-overview-list {
		
		display: none;
		//display: block;
	}
	
	
}	