.main.event-detail {


	.movie-detail-items {
	
		height: 180px;
	}

}

.main.promos {
	
	.wrap {
		
		padding: 0px;
	}

	.full {
	
	
		border: 1px solid @dark-grey;
		background: black;
		width: 100%;
		float: left;
		padding: 0px 0px;
		margin-bottom: 200px;

	}
	
	.item {
		clear: both;
		margin-bottom: 20px;
		img {
		
			width: 200px;
			height: 130px;
			float: left;
			margin-right: 15px;
		}
		.desc {
			margin-bottom: 0px;
			float: left;
		}
	
	
	}
	.strip {
	
		position: relative;
		
		.back {
		
			position: absolute;
			top: 7px;
			right: 10px;
			font-size: 22px;
			color: white;
		}
	}
	.hero {
	
		img {
		
			width: 100%;
			height: auto;
		}
	
	}
	.desc {
		margin-bottom: 20px;
		padding: 10px;
		h2 {
		
			margin: 10px 0px 0px 0px;
			padding: 0px;
		}
		p {
			margin-bottom: 20px;
			font-size: 16px;
			font-family: @thin-font;
		}
		.btn {
			font-size: 12px;
			width: auto;
		}
			
	}

}