.member-program-line {

	font-family: @cinebuzz-font-bold;
	margin-bottom: 20px;
	font-size: 22px;
	width: 260px;
}
.call-to-action-member-programs {

	z-index: 1000;
	position: absolute;
	display: block;
	text-align: right; 
	right: 20px;
	top: 200px;
}
.main.member-programs {


	.wrap {
	
		padding: 0px;
		margin-top: -4px;
		border: 1px solid @dark-grey;
		margin-bottom: 100px;
	}
	.member-programs-hero {
	
		position: relative;
		z-index: 1;
	
		> img {
			width: 100%;
			height: auto;
			z-index: 1;
		}
		.intro {
			position: absolute;
			left: 15px;
			top: 100px;
			font-size: 24px;
			width: 340px;
			line-height: 25px;
			font-family: @cinebuzz-font-bold;
			z-index: 1000;
			
			img {
				margin-bottom: 10px;
				display: block;
			}
		}
		
	}
	.programs {
		background: #000;
		padding: 10px;
		z-index: 1000;
		.program {
		
			width: 18%;
			margin-right: 15px;
			float: left;
			
			p {
			
				height: 150px;
			}
			
			img {
			
				display: block;
				margin-bottom: 9px;
				
			}
			.btn {
			
				margin: 15px 0px 5px 0px;
				display: block;
				width: 100px;
				color: #000;
			}
			a {
			
				color: @yellow;
			}

		
		}
	}
	.member-program-detail {
	
	
		
	}
}