.btn {
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	padding: 7px 14px;
	font-family: @bold-font;
	background: -moz-linear-gradient(
		top,
		#dbf2fc 0%,
		#4cc8f2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dbf2fc),
		to(#4cc8f2));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #76cfed;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
.btn-grey {
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	color: #000000;
	padding: 2px 14px;
	font-family: @bold-font;
	background: -moz-linear-gradient(
		top,
		#dbf2fc 0%,
		#4cc8f2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff),
		to(#aaacae));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #aaacae;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
