.ie9 .home .top, .ie8 .home .top, .ie7 .home .top {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#292728, endColorstr=#414042);
}
.ie9 footer, .ie8 footer, .ie7 footer {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#292728, endColorstr=#414042);
}
.ie8 #ticket-bar {
  width: 860px;
}
.ie8 #ticket-bar span {
  width: 185px;
  margin-right: 25px;
}
.ie8 #ticket-bar a.btn {
  right: 8px;
}
.ie8 #cine-buzz {
  left: 870px;
  width: 130px;
}
.ie8 #cine-buzz p {
  display: none;
}
.ie8 .home .top {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#292728, endColorstr=#414042);
}
.ie8 .home .home-items {
  width: 1000px;
  top: 550px;
}
.ie8 .home #slider {
  width: 670px;
  margin-right: 5px;
}
.ie8 .home #slider a {
  margin-right: 8px;
}
.ie8 .home .ad.full {
  width: 240px;
}
.ie8 .home .ad.half {
  width: 240px;
}
.ie8 #wrapper, .ie8 header {
  width: 1000px;
}
.ie8 .call-to-action {
  right: 20px;
  top: 160px;
}
.ie8 .when-blowout {
  left: 430px;
}
.ie8 .what-blowout {
  left: 220px;
}
.ie8 #trailer {
  width: 1000px;
  margin-left: -500px;
}
.ie8 #trailer video {
  width: 795px;
}
.ie8 footer {
  top: 850px;
}
.ie7 #ticket-bar {
  background-color: red;
  width: 860px;
}
.ie7 #ticket-bar span {
  width: 185px;
  margin-right: 25px;
}
.ie7 #ticket-bar a.btn {
  right: 8px;
}
.ie7 #cine-buzz {
  background-color: red;
  left: 870px;
  width: 130px;
}
.ie7 #cine-buzz p {
  display: none;
}
.ie7 #background-wrap {
  z-index: -1;
}
.ie7 .home .home-items {
  width: 1000px;
  top: 550px;
}
.ie7 .home #slider {
  width: 670px;
  margin-right: 5px;
}
.ie7 .home #slider a {
  margin-right: 8px;
}
.ie7 .home .ad.full {
  width: 240px;
}
.ie7 .home .ad.half {
  width: 240px;
}
.ie7 #wrapper, .ie7 header {
  width: 1000px;
}
.ie7 .call-to-action {
  right: 20px;
  top: 160px;
}
.ie7 .when-blowout {
  left: 430px;
}
.ie7 .what-blowout {
  left: 220px;
}
.ie7 #trailer {
  width: 1000px;
  margin-left: -500px;
}
.ie7 #trailer video {
  width: 795px;
}
.ie7 footer {
  top: 850px;
}
