@media all and (max-width: 1260px){
	
	#ticket-bar 		{ 
		width: 860px; 
		span { 
			width: 185px;
			margin-right:25px; 
			label {
				
			}
		}
		a.btn {
		
			right: 8px;
		}
	}
	
	#cine-buzz { 
	
		left: 870px; 
		width: 130px;
		p {
			
			display: none;
			
		}
	}

	.home {
		.home-items	 	{ width: 1000px; }
		#slider 		{ width: 670px; margin-right: 5px; a { margin-right: 8px; }}
		.ad.full		{ width: 240px; }
		.ad.half		{ width: 240px; }
	}
	#wrapper {
		
		width: 1000px;

	}
	.call-to-action {
	
		right: 20px;
		top: 160px;
	}
	.when-blowout 		{ left: 430px;  }
	.what-blowout 		{ left: 220px; }
	

}
@media all and (min-width: 1260px) and (max-width: 1400px){

	#ticket-bar 		{ width: 960px; span { width: 200px } }
	#cine-buzz			{ left: 970px; }

	.home {
		.home-items	 	{ width: 1200px; }
		#slider 		{ width: 850px; }
		.ad.full		{ width: 384px; }
		.ad.half		{ width: 197px; }
	}
	#wrapper {
		
		width: 1200px;

	}
	.call-to-action {
	
		right: 20px;
		top: 180px;
	}

}

@media all and (min-width: 1400px) {
	
	#ticket-bar 		{ width: 1120px; }
	#cine-buzz			{ left: 1130px; }
	.home {
		.home-items	 	{ width: 1366px; }
		#slider 		{ width: 1015px; }
		.ad.full		{ width: 440px; }
		.ad.half		{ width: 223px; }
	}
	#wrapper 			{ width: 1366px; }
	.call-to-action 	{ right: 20px;top: 180px; }
	.when-blowout 		{ left: 610px; width: 263px; }
	.what-blowout 		{ left: 310px; }
}







// HEIGHT


@media all and (max-height: 745px) {

	.home-items 	{ top: 500px; }
	footer 			{ top: 850px; }
	
}
@media all and (min-height: 745px) and (max-height: 914px){

	.home-items 	{ top: 590px; }
	footer 			{ top: 950px; }
	
}
@media all and (min-height: 915px) {

	.home-items 	{ top: 680px; }
	footer 			{ top: 980px; }
}