input.search {

	.radius-full(10px);
	
}
.red-search-btn {

	border: none;
	width: 21px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 3px;
	background: url(../../img/search.jpg) no-repeat;
}

.grey-search-btn {

	border: none;
	width: 17px;
	height: 15px;
	position: absolute;
	right: 0px;
	top: 5px;
	background: url(../../img/search-grey.png) no-repeat;
}