#quick-view-seats {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: none;
	.inner-arrow {
	
		.arrow-down(8px, red);
		position: absolute;
		left: 350px;
		bottom: -7px;
		z-index: 1000;
	}
	.outer-arrow {
	
		.arrow-down(10px, white);
		position: absolute;
		left: 348px;
		bottom: -9px;
		z-index: 90;
	}
	.content {
	
		width: 650px;
		height: 350px;
		background-color: red;
		border: 1px solid #fff;
		
	}


}


.ticketing {

	background: black url(../../img/lights-bck.png) no-repeat;
	
	header {
	
		margin: 20px;
	}
	
	.main {
		margin: 10px 0px 0px 20px;
		width: 1184px;
		height: 687px;
		
		
		.session-button {
		
			position: absolute;
			top: 390px;
			left: 250px;
			width: 400px;
			height: 70px;
			background: white;
			opacity: 0;
		}
		.back-button {
			position: absolute;
			width: 100px;
			height: 70px;
			background: white;
			opacity: 0;
		
		}
		.proceed-button {
		
			position: absolute;
			width: 100px;
			height: 70px;
			background: white;
			opacity: 0;
		}
		
		
	}
	
	
}