@import "adipoli.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  line-height: 1.231;
}
::-moz-selection {
  background: #e400ff;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #e400ff;
  color: #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 0px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
table button, table input {
  *overflow: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
p {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'BentonSansMedium';
  src: url('../fonts/bentonsansmediu-webfont.eot');
  src: url('../fonts/bentonsansmediu-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bentonsansmediu-webfont.woff') format('woff'), url('../fonts/bentonsansmediu-webfont.ttf') format('truetype'), url('../fonts/bentonsansmediu-webfont.svg#BentonSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSansRegular';
  src: url('../fonts/bentonsansregula-webfont.eot');
  src: url('../fonts/bentonsansregula-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bentonsansregula-webfont.woff') format('woff'), url('../fonts/bentonsansregula-webfont.ttf') format('truetype'), url('../fonts/bentonsansregula-webfont.svg#BentonSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSansLightRegular';
  src: url('../fonts/gill_sans_light-webfont.eot');
  src: url('../fonts/gill_sans_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gill_sans_light-webfont.woff') format('woff'), url('../fonts/gill_sans_light-webfont.ttf') format('truetype'), url('../fonts/gill_sans_light-webfont.svg#GillSansLightRegular') format('svg');
  font-weight: light;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'GillSansLightRegular', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  font-size: 14px;
}
a {
  color: white;
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.background-fade {
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
strong {
  font-family: 'BentonSansMedium', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
}
.hover-fade {
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.turn {
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  /* IE 9 */

  -webkit-transform: rotate(-10deg);
  /* Safari and Chrome */

  -o-transform: rotate(-10deg);
  /* Opera */

  -moz-transform: rotate(-10deg);
  /* Firefox */

}
.shadow {
  -webkit-box-shadow: 3px 3px 0px 0px #000;
  -moz-box-shadow: 0px 0px 4px 0px #000;
  box-shadow: 1px 3px 4px 0px #000;
}
.border-bottom {
  border-bottom: solid 1px #b28f55;
}
.btn {
  cursor: pointer;
  font-size: 14px;
  padding: 9px 14px 5px 14px;
  font-family: 'BentonSansMedium', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px #ffffff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.blue {
  text-transform: uppercase;
  background: #4cc8f2;
  border: 1px solid #76cfed;
  color: #000;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  background-image: -webkit-linear-gradient(top, rgba(76, 200, 242, 0), rgba(219, 242, 252, 0.6));
  background-image: -moz-linear-gradient(top, rgba(219, 242, 252, 0), rgba(76, 200, 242, 0.6));
  background-image: -o-linear-gradient(top, rgba(219, 242, 252, 0), rgba(76, 200, 242, 0.6));
  background-image: -ms-linear-gradient(top, rgba(219, 242, 252, 0), rgba(76, 200, 242, 0.6));
  background-image: linear-gradient(top, rgba(219, 242, 252, 0), rgba(76, 200, 242, 0.6));
}
.blue:hover {
  background-color: #a6e4ff;
}
.grey {
  background: #e2f4fd;
  border: 1px solid #939598;
  color: #000;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  background-image: -webkit-linear-gradient(top, rgba(223, 241, 249, 0), rgba(170, 173, 176, 0.6));
  background-image: -moz-linear-gradient(top, rgba(223, 241, 249, 0), rgba(170, 173, 176, 0.6));
  background-image: -o-linear-gradient(top, rgba(223, 241, 249, 0), rgba(170, 173, 176, 0.6));
  background-image: -ms-linear-gradient(top, rgba(223, 241, 249, 0), rgba(170, 173, 176, 0.6));
  background-image: linear-gradient(top, rgba(223, 241, 249, 0), rgba(170, 173, 176, 0.6));
}
.grey:hover {
  background-color: #fff;
}
header {
  width: 100%;
  position: relative;
}
#ticket-bar {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #88191e), color-stop(1, #ff0000));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  z-index: 4000;
  position: absolute;
  top: 10px;
  left: 0px;
  height: 53px;
}
#ticket-bar span {
  width: 250px;
  margin: 3px 50px 0px 0px;
  float: left;
}
#ticket-bar span label {
  color: white;
  display: block;
  margin-bottom: 2px;
}
#ticket-bar span div {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 3px 5px;
  border: 1px solid #dfdfdf;
  z-index: 9000;
  background: #fff;
  color: #5d5d5d;
  position: relative;
  cursor: pointer;
}
#ticket-bar span div .arrow-down {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333333;
}
#ticket-bar span div.active {
  -webkit-box-shadow: 3px 3px 0px 0px #000;
  -moz-box-shadow: 0px 0px 4px 0px #000;
  box-shadow: 1px 3px 4px 0px #000;
  background: #333333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #333333;
  color: #fff;
}
#ticket-bar span:first-child {
  margin-left: 10px;
}
#ticket-bar .ticket-img {
  position: absolute;
  top: -10px;
  z-index: 0;
  right: 35px;
  background: url(../../img/tickets.png) no-repeat;
  width: 100px;
  height: 70px;
}
#ticket-bar a.btn {
  z-index: 5000;
  position: absolute;
  top: -2px;
  right: 20px;
  margin-top: 14px;
}
#cine-buzz {
  /* IE10 */
  background-image: -ms-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #88191e), color-stop(1, #ff0000));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom, #88191e 0%, #ff0000 100%);
  position: absolute;
  top: 10px;
  width: 235px;
  height: 53px;
  cursor: pointer;
}
#cine-buzz img {
  position: absolute;
  left: 10px;
  top: 14px;
}
#cine-buzz p {
  color: #fff;
  font-size: 13px;
  position: absolute;
  text-transform: uppercase;
  left: 115px;
  top: 19px;
}
#cine-buzz span {
  position: absolute;
  right: 8px;
  top: 23px;
  float: right;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
.when-blowout {
  display: none;
  z-index: 7000;
  position: absolute;
  top: 302px;
  left: 550px;
  width: 200px;
  background-color: #000;
}
.when-blowout .arrow-up {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
}
.when-blowout ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.when-blowout ul li {
  color: white;
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
.when-blowout ul li:hover {
  background-color: #333;
}
.what-blowout {
  display: none;
  z-index: 7000;
  position: absolute;
  top: 62px;
  left: 270px;
  width: 730px;
  background-color: #000;
}
.what-blowout .arrow-up {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222;
}
.what-blowout .head {
  font-size: 18px;
  color: white;
  padding: 10px 10px 0px 10px;
  background-color: #222;
  height: 30px;
  display: block;
}
.what-blowout .filters {
  width: 710px;
  height: 25px;
  background: url(../../img/movie-blowout-filters.png) no-repeat;
  margin: 10px;
}
.what-blowout ul {
  list-style: none;
  margin: 10px 0px 0px 10px;
  padding: 0px;
  width: 700px;
}
.what-blowout ul li {
  display: inline;
  margin-right: 10px;
}
.what-blowout ul li span {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 105px;
  height: 190px;
}
.what-blowout ul li span img {
  position: absolute;
  top: 0px;
}
.what-blowout ul li span .hover {
  display: none;
  z-index: 1000;
  position: absolute;
  background-color: black;
  width: 85px;
  height: 130px;
  padding: 5px;
  top: 5px;
  left: 5px;
  opacity: .8;
}
.what-blowout ul li span .hover a {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.what-blowout ul li span .hover .icons {
  position: absolute;
  bottom: 30px;
  left: -15px;
}
.what-blowout ul li span p {
  position: absolute;
  top: 155px;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: white;
  font-size: 14px;
}
.where-blowout {
  -webkit-box-shadow: 3px 3px 0px 0px #000;
  -moz-box-shadow: 0px 0px 4px 0px #000;
  box-shadow: 1px 3px 4px 0px #000;
  display: none;
  z-index: 9000;
  position: absolute;
  top: 57px;
  left: 10px;
  width: 360px;
  background-color: #000;
}
.where-blowout .arrow-up {
  position: absolute;
  top: -10px;
  left: 40px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222;
}
.where-blowout .head {
  font-size: 18px;
  color: white;
  padding: 6px 10px 0px 10px;
  background-color: #222;
  height: 30px;
  display: block;
}
.where-blowout .geo {
  padding-left: 10px;
  margin: 20px 0px 0px 0px;
  height: 20px;
}
.where-blowout .geo .btn {
  font-size: 11px;
}
.where-blowout p {
  border-top: 1px solid #ccc;
  color: white;
  padding: 10px 0px 0px 10px;
}
.where-blowout ul {
  color: white;
  list-style: none;
  background-color: #333333;
  margin: 0px;
  padding: 10px 5px 10px 5px;
}
.where-blowout ul li {
  padding: 0px 3px;
  color: white;
  display: inline;
}
.where-blowout ul li.active {
  color: red;
}
.where-blowout .columns {
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
}
.where-blowout .columns .column {
  width: 150px;
  float: left;
  margin-left: 10px;
}
.where-blowout .columns .column span {
  margin-top: 3px;
  display: block;
}
nav {
  position: absolute;
  left: 0px;
  top: 100px;
  color: white;
}
nav ul {
  list-style: none;
  margin: 10px 0px 10px 0px;
  padding: 0;
}
nav ul li a {
  text-shadow: 1px 2px #333;
  font-size: 22px;
}
nav ul li a:hover {
  color: #ccc;
}
nav ul li.active a {
  color: red;
}
.search {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  font-size: 14px;
  padding: 4px 12px 4px 8px;
  width: 160px;
  background: #ffffff url(../../img/search.jpg) no-repeat 155px 3px;
}
#wrapper {
  position: relative;
  margin: 0px auto;
  height: 100%;
}
#wrapper .call-to-action {
  z-index: 9000;
  position: absolute;
  display: block;
}
#wrapper .call-to-action .grey {
  clear: both;
  float: right;
  width: 180px;
  margin: 20px 0px 0px 0px;
}
#wrapper .call-to-action .blue {
  clear: both;
  float: right;
  width: 180px;
  margin: 12px 0px 0px 0px;
}
#background-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#background-wrap img#skin {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: 0px;
}
#main.memberprograms .memberprograms-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 685px;
}
#main.memberprograms .cinebuzz-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 672px;
}
#main.offers .offers-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 685px;
}
#main.offers .offers-wrapper a.to-detail {
  width: 220px;
  height: 300px;
  background: #fff;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 20px;
}
#main.offers .offers-wrapper a.to-overview {
  width: 70px;
  height: 20px;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0;
}
#main.experiences .experiences-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 685px;
}
#main.events .events-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 685px;
}
#main.events .events-wrapper a.to-detail {
  width: 310px;
  height: 600px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0px;
  opacity: 0;
}
#main.cinemas .cinema-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 685px;
}
#main.event-detail {
  height: 870px;
  background: url(../../img/the-vow.jpg) no-repeat;
}
#main.event-detail nav {
  width: 242px;
  left: 20px;
  height: 563px;
  background: url(../../img/event-detail-left.png) no-repeat;
}
#main.event-detail nav a.back {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #fff;
  top: 120px;
  left: 0px;
  opacity: 0;
}
#main.event-detail .the-vow-title {
  position: absolute;
  top: 300px;
  left: 880px;
}
#main.event-detail .event-detail-elements {
  position: absolute;
  top: 700px;
  left: 20px;
  width: 1197px;
  height: 150px;
  background: url(../../img/event-detail-elements.png) no-repeat;
}
#main.event-detail #home-call-to-action {
  position: absolute;
  top: 455px;
  left: 883px;
}
#main.movie-detail {
  height: 870px;
  background: url(../../img/snow-white.jpg) no-repeat;
}
#main.movie-detail nav {
  width: 242px;
  left: 20px;
  height: 563px;
  background: url(../../img/movie-detail-left.png) no-repeat;
}
#main.movie-detail nav a.back {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #fff;
  top: 120px;
  left: 0px;
  opacity: 0;
}
#main.movie-detail .movie-detail-elements {
  position: absolute;
  top: 700px;
  left: 20px;
  width: 1195px;
  height: 113px;
  background: url(../../img/movie-detail-bottom.png) no-repeat;
}
#main.movie-detail #home-call-to-action {
  position: absolute;
  top: 430px;
  left: 980px;
}
#main.movies .movie-wrapper {
  position: absolute;
  left: 263px;
  top: 118px;
  width: 965px;
  height: 685px;
  background: url(../../img/movies.png) no-repeat;
}
#main.movies .movie-wrapper ul {
  list-style: none;
  margin: 80px 0px 0px 15px;
  padding: 0px;
  width: 700px;
}
#main.movies .movie-wrapper ul li {
  display: inline;
  margin-right: 10px;
}
#main.movies .movie-wrapper ul li span {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 190px;
}
#main.movies .movie-wrapper ul li span img {
  position: absolute;
  top: 0px;
}
#main.movies .movie-wrapper ul li span .hover {
  display: none;
  z-index: 1000;
  position: absolute;
  background-color: black;
  width: 85px;
  height: 130px;
  padding: 5px;
  top: 5px;
  left: 5px;
  opacity: .8;
}
#main.movies .movie-wrapper ul li span .hover a {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
#main.movies .movie-wrapper ul li span .hover .icons {
  position: absolute;
  bottom: 30px;
  left: -15px;
}
#main.movies .movie-wrapper ul li span p {
  position: absolute;
  top: 155px;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: white;
  font-size: 14px;
}
.test-container {
  background: #ccc;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 10px;
}
.test-container a {
  width: 200px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.home-items {
  width: 100%;
  height: 220px;
  position: absolute;
  left: 0px;
}
.opaque-background {
  background: #000;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 0.8;
  /* Safari 1.x */

  -khtml-opacity: 0.8;
  /* Good browsers */

  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.top {
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 0px;
  /* IE10 */
  background-image: -ms-linear-gradient(bottom, #292728 0%, #414042 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #292728 0%, #414042 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #292728 0%, #414042 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #292728), color-stop(1, #414042));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #292728 0%, #414042 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom, #292728 0%, #414042 100%);
  margin: 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}
.top li {
  display: inline-block;
  padding: 5px 8px;
}
.top li a {
  text-transform: uppercase;
}
.top li.active a {
  color: red;
}
#premium-cinema-box {
  width: 320px;
  height: 119px;
  position: relative;
  float: left;
  border: 1px solid #333333;
}
#premium-cinema-box .items {
  position: absolute;
  top: 32px;
  left: 10px;
  z-index: 100;
}
#premium-cinema-box .items a {
  display: block;
}
#premium-cinema-box .items a .opaque-strip {
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 0.8;
  /* Safari 1.x */

  -khtml-opacity: 0.8;
  /* Good browsers */

  opacity: 0.8;
  position: absolute;
  bottom: 1px;
  left: 2px;
  height: 30px;
  width: 288px;
  background: #000;
}
#premium-cinema-box .items a .title {
  text-transform: uppercase;
  bottom: 5px;
  left: 0px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  position: absolute;
}
#premium-cinema-box .items a img {
  border: 1px solid #dfdfdf;
  margin: 0;
}
#premium-cinema-box .items a p {
  margin-top: 2px;
  display: none;
}
#slider {
  border: 1px solid #333333;
  height: 119px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 25px;
}
#slider .arrow-left, #slider .arrow-right {
  border: 1px solid #fff;
  padding: 5px 4px;
  display: block;
  background: #000;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 0.8;
  /* Safari 1.x */

  -khtml-opacity: 0.8;
  /* Good browsers */

  opacity: 0.8;
  position: absolute;
  top: 50px;
  color: #fff;
  z-index: 2000;
  font-size: 18px;
  cursor: pointer;
}
#slider .arrow-left {
  left: 0px;
}
#slider .arrow-right {
  right: 0px;
}
#slider .items {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 10000px;
  z-index: 100;
}
#slider .items a {
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
  border: 1px solid #333333;
  width: 156px;
  height: 80px;
  overflow: hidden;
}
#slider .items a img {
  margin: 0;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 0.8;
  /* Safari 1.x */

  -khtml-opacity: 0.8;
  /* Good browsers */

  opacity: 0.8;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
#slider .items a.active {
  border: 1px solid #fff;
}
#slider .items a.active p, #slider .items a.active img {
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 1;
  /* Safari 1.x */

  -khtml-opacity: 1;
  /* Good browsers */

  opacity: 1;
}
#slider .items a:hover img {
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 1;
  /* Safari 1.x */

  -khtml-opacity: 1;
  /* Good browsers */

  opacity: 1;
}
#slider .items a p {
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 2px 4px;
  background: #000;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 0.8;
  /* Safari 1.x */

  -khtml-opacity: 0.8;
  /* Good browsers */

  opacity: 0.8;
  display: block;
  width: 154px;
}
#ads {
  width: 100%;
  margin-top: 10px;
}
#ads .ad {
  margin-left: 10px;
  float: left;
  height: 100px;
  overflow: hidden;
  background: #000;
  border: 1px solid #333333;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@ie_level)";
  /* IE 5-7 */

  filter: alpha(opacity=80);
  /* Netscape */

  -moz-opacity: 0.8;
  /* Safari 1.x */

  -khtml-opacity: 0.8;
  /* Good browsers */

  opacity: 0.8;
}
#ads .ad:first-child {
  margin-left: 0px;
}
#ads .ad img {
  width: 100%;
}
footer {
  height: 36px;
  width: 100%;
  /* IE10 */
  background-image: -ms-linear-gradient(bottom, #2a2728 0%, #7d7f81 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #2a2728 0%, #7d7f81 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #2a2728 0%, #7d7f81 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2a2728), color-stop(1, #7d7f81));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #2a2728 0%, #7d7f81 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(bottom, #2a2728 0%, #7d7f81 100%);
  position: absolute;
  left: 0px;
  z-index: 1000;
}
.ticketing {
  background: #000000 url(../../img/lights-bck.png) no-repeat;
}
.ticketing header {
  margin: 20px;
}
.ticketing #main {
  margin: 10px 0px 0px 20px;
  width: 1184px;
  height: 687px;
}
.ticketing #main .session-button {
  position: absolute;
  top: 390px;
  left: 250px;
  width: 400px;
  height: 70px;
  background: white;
  opacity: 0;
}
.ticketing #main .back-button {
  position: absolute;
  width: 100px;
  height: 70px;
  background: white;
  opacity: 0;
}
.ticketing #main .proceed-button {
  position: absolute;
  width: 100px;
  height: 70px;
  background: white;
  opacity: 0;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
@media all and (max-width: 1260px) {
  #ticket-bar {
    width: 860px;
  }
  #ticket-bar span {
    width: 185px;
    margin-right: 25px;
  }
  #ticket-bar a.btn {
    right: 8px;
  }
  #cine-buzz {
    left: 870px;
    width: 130px;
  }
  #cine-buzz p {
    display: none;
  }
  .home .home-items {
    width: 1000px;
  }
  .home #slider {
    width: 670px;
    margin-right: 5px;
  }
  .home #slider a {
    margin-right: 8px;
  }
  .home .ad.full {
    width: 240px;
  }
  .home .ad.half {
    width: 240px;
  }
  #wrapper {
    width: 1000px;
  }
  .call-to-action {
    right: 20px;
    top: 160px;
  }
}
@media all and (min-width: 1260px) and (max-width: 1400px) {
  #ticket-bar {
    width: 960px;
  }
  #ticket-bar span {
    width: 200px;
  }
  #cine-buzz {
    left: 970px;
  }
  .home .home-items {
    width: 1200px;
  }
  .home #slider {
    width: 850px;
  }
  .home .ad.full {
    width: 384px;
  }
  .home .ad.half {
    width: 197px;
  }
  #wrapper {
    width: 1200px;
  }
  .call-to-action {
    right: 20px;
    top: 180px;
  }
}
@media all and (min-width: 1400px) {
  #ticket-bar {
    width: 1120px;
  }
  #cine-buzz {
    left: 1130px;
  }
  .home .home-items {
    width: 1366px;
  }
  .home #slider {
    width: 1015px;
  }
  .home .ad.full {
    width: 440px;
  }
  .home .ad.half {
    width: 223px;
  }
  #wrapper {
    width: 1366px;
  }
  .call-to-action {
    right: 20px;
    top: 180px;
  }
}
@media all and (max-height: 745px) {
  .home-items {
    top: 500px;
  }
  footer {
    top: 850px;
  }
}
@media all and (min-height: 745px) and (max-height: 914px) {
  .home-items {
    top: 590px;
  }
  footer {
    top: 950px;
  }
}
@media all and (min-height: 915px) {
  .home-items {
    top: 680px;
  }
  footer {
    top: 980px;
  }
}
